*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #F0F0F0;
    font-family: montserrat;
}

.lupa_email_perfil{
    display: flex;
    justify-content: flex-end;
    column-gap: 100%;
    margin-right: 8%;
}
.iconos_header{
    width: 2vw;
}
header{
    background-color: #DC001B;
    height: 9.46vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_donbosco{
    margin-left: 12%;
}
.imagen_logo_evento{
    width: 13vw;
}
.header_stuff{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 56.82vw;
    left: 50em;
    top: 1.5em;
}
.search button{
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: #DADCDE;
    color: #494949;
    width: 20%;
    position: relative;
    right: 9em;
    outline: none;
}
.search{
    width: 67%;
    position: relative;
    right: 10em;
}
.searchstyle{
    width: 36em;
    border-radius: 5px;
    border: none;
    text-indent: 3em;
    color: #494949;
    outline: none;
    height: 99%;
}
.login_signup{
    position: relative;
    right: 7%;
}

.login_signup a{
    color: white;
}
.z-one{
    z-index: 1;
}
.seccion1{
    background-image:url(/assets/images/foto_fondo_evento.png);
    height:  56em;
    background-repeat:no-repeat;
    background-size: 100%;
}

    /* background: radial-gradient(89.11% 175.16% at 11.42% 10.89%, rgba(62, 83, 100, 0.61) 0%, rgba(212, 50, 56, 0.61) 100%); */

.seccion1 h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2vw;
    line-height: 41px;
    color: rgba(255, 255, 255, 0.9);
}

.filtro-color{
    width: 100%;
    height: 71.8%;
    background: radial-gradient(89.11% 175.16% at 11.42% 10.89%, rgba(62, 83, 100, 0.61) 0%, rgba(212, 50, 56, 0.61) 100%);
    position: absolute;
}
.zonacentro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.botones-eventos{
    width: 9.6vw;
}



#countdown{
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 41px;
    letter-spacing: 0.099em;
}

.grid_countdown{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 1vw;
    letter-spacing: 0.099em;
    justify-items: center;
}

.letras_countdown{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 20px;
    color: white;
}
.evento-siguiente{
    width: 9.6vw;
    height: 6.7vh;
}

.evento-siguiente:hover{
    background-color: white;
    width: 9.6vw;
    height: 7.491vh;
}



.detalles_evento{
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 46.875vw;
}
.cortedeseccion{
    margin-top: -7em;
    width: 100%;
}

.cortedeseccion img{
     width: 100%;
}
.header_fijo{
    background-color: white;
    width: 100%;
    height: 5em;
    box-shadow: -3px 19px 5px -20px;
}
