*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #F0F0F0;
    font-family: montserrat;
}

header{
    background-color: #DC001B;
    height: 9.46vh;
 
}

.logo_donbosco{
position: absolute;
left: 7.78%;
right: 72.78%;
top: 1.27%;
bottom: 96.03%;
}
.imagen_logo_evento{
    position: absolute;
    left: 42%;
    top: 4.27%;
}
.header_stuff{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 56.82vw;
    left: 50em;
    top: 1.5em;
}
.search button{
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: #DADCDE;
    color: #494949;
    width: 20%;
    position: relative;
    right: 9em;
    outline: none;
}
.search{
    width: 67%;
    position: relative;
    right: 10em;
}
.searchstyle{
    width: 36em;
    border-radius: 5px;
    border: none;
    text-indent: 3em;
    color: #494949;
    outline: none;
    height: 99%;
}
.login_signup{
    position: relative;
    right: 7%;
}

.login_signup a{
    color: white;
}
.seccion1{
    background-image:url(/assets/images/foto_fondo_evento.png);
    height:  56em;
    background-repeat:no-repeat;
    background-size: 100%;
}
.filtro-color{
    position: absolute;
    width: 100%;
    height: 92%;
    background: radial-gradient(89.11% 175.16% at 11.42% 10.89%, rgba(62, 83, 100, 0.61) 0%, rgba(212, 50, 56, 0.61) 100%);
    z-index: 0;
}
.seccion1 h1{
    position: absolute;
    left: 25.2em;
    top: 9em;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: rgba(255, 255, 255, 0.9);
}

#countdown{
    width: 16vw;
    position: absolute;
    left: 0.15em;
    top: 1em;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.099em;
}
.grid_countdown{
    display: flex;
    justify-content: space-between;
    width: 15vw;
    position: absolute;
    top: 23em;
    left: 50em;
}

.letras_countdown{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: white;
}
.evento-siguiente{
    position: relative;
    top: 24em;
    width: 9.6vw;
    height: 6.7vh;
    left: 80.4%;
}

.evento-siguiente:hover{
    background-color: white;
    position: relative;
    top: 24em;
    width: 9.6vw;
    height: 7.491vh;
    left: 80.4%;
}

.evento-anterior{
    position: relative;
    top: 24em;
    width: 9.6vw;
    height: 7.491vh;
}

.evento-anterior:hover{
    background-color: white;
    position: relative;
    top: 24em;
    width: 9.6vw;
    height: 7.491vh;
}

.detalles_evento{
    position: relative;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 46.875vw;
    left: 33em;
    top: 29em;
}

.separador1-secc1-down{
    position: relative;
    width: 100%;
}

.separador2-secc1-down{
    position: relative;
    top: -17.9em;
    width: 100%;
}

.header_fijo{
    background-color: white;
    width: 100%;
    height: 5em;
    box-shadow: -3px 19px 5px -20px;
}