*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #F0F0F0;
    font-family: montserrat;
}

.lupa_email_perfil{
    display: flex;
    justify-content: flex-end;
    column-gap: 100%;
    margin-right: 8%;
}
.iconos_header{
    width: 2vw;
}
header{
    background-color: #DC001B;
    height: 9.46vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_donbosco{
    margin-left: 12%;
}
.imagen_logo_evento{
    width: 13vw;
}
.header_stuff{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 56.82vw;
    left: 50em;
    top: 1.5em;
}
.search button{
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: #DADCDE;
    color: #494949;
    width: 20%;
    position: relative;
    right: 9em;
    outline: none;
}
.search{
    width: 67%;
    position: relative;
    right: 10em;
}
.searchstyle{
    width: 36em;
    border-radius: 5px;
    border: none;
    text-indent: 3em;
    color: #494949;
    outline: none;
    height: 99%;
}
.login_signup{
    position: relative;
    right: 7%;
}

.login_signup a{
    color: white;
}
.z-one{
    z-index: 1;
}
.seccion1{
    background-image:url(/assets/images/foto_fondo_evento.png);
    height:  56em;
    background-repeat:no-repeat;
    background-size: 100%;
}

    /* background: radial-gradient(89.11% 175.16% at 11.42% 10.89%, rgba(62, 83, 100, 0.61) 0%, rgba(212, 50, 56, 0.61) 100%); */

.seccion1 h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2vw;
    line-height: 41px;
    color: rgba(255, 255, 255, 0.9);
}

.filtro-color{
    width: 100%;
    height: 71.8%;
    background: radial-gradient(89.11% 175.16% at 11.42% 10.89%, rgba(62, 83, 100, 0.61) 0%, rgba(212, 50, 56, 0.61) 100%);
    position: absolute;
}
.zonacentro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.botones-eventos{
    width: 9.6vw;
}



#countdown{
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 41px;
    letter-spacing: 0.099em;
}

.grid_countdown{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 1vw;
    letter-spacing: 0.099em;
    justify-items: center;
    grid-row-gap: 1vw;
}

.letras_countdown{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 20px;
    color: white;
}
.evento-siguiente{
    width: 9.6vw;
    height: 6.7vh;
}

.evento-siguiente:hover{
    background-color: white;
    width: 9.6vw;
    height: 7.491vh;
}



.detalles_evento{
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 46.875vw;
}
.cortedeseccion{
    margin-top: -7em;
    width: 100%;
}

.cortedeseccion img{
     width: 100%;
}
.header_fijo{
    background-color: white;
    width: 100%;
    height: 5em;
    box-shadow: -3px 19px 5px -20px;
}

/* -------------FIN SECCION 1--------------- */


/* -------------INICIO SECCION 2--------------- */
#calendar, #calendar +h3 {
    text-align: center;
}

.carousel{
    margin-bottom: 0!important; 
     margin-top: 0!important;
}

.container{
    width: 100%;
    height: 57vw;
}


.otrosEvent{
    display: flex;
    justify-content: center;
    margin: 4% 0% 4% 0%;
}

.contenedor_de_comentarios{
    border: 0.3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5% 5% 5% 5%;
    display:flex;
    flex-direction: column;
    border: none;
    background: white;
}
.contenedor_de_fotos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}


.contenedor_de_fotos img{
    width: 3vw;
    border-radius: 50px;
}

.mas{
    margin: 1% 5% 0% 3%;
    color: #9C9797;
}

.unirse{
    border: none;
    background: #DC001B;
    color: white;
    border-radius: 5px;
    font-family: "Montserrat";
    width: 5.5vw;
    font-size: 1vw;
    margin-left: 2vw;
    padding: 0.2vw;
}


.fecha{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: .8vw;
    color: #0398AF;
    margin-bottom: .5vw;
}

.otro{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15.2147px;
    line-height: 19px;
}

.descripcion{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #494949;
}



.carousel-control-prev, .carousel-control-next{
    margin-top:15%
}

.carousel-control-prev-icon {
    width: 3vw;
    height: 6vh;
}

.carousel-control-next-icon {
    transform: rotate(180deg);
    width: 3vw;
    height: 6vh;
}

.contenedor2 img, .contenedor2-2 img, .contenedor2-3 img{
    border-radius: 50%;
}

@media only screen and (max-width: 481px) {
    .carousel-item-next, .carousel-item-prev, .carousel-item.active{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 190%;
    }

    .carousel-control-prev-icon {
        height: 30%;
    }
    
    .carousel-control-next-icon {
        transform: rotate(180deg);
        height: 30%;
    }


    .contenedor1-2, .contenedor1-3, .contenedor2-2, .contenedor2-3 {
        display:none !important;
    }
  }

  h1{
    display: flex;
    justify-content: center;
    margin: 4% 0% 4% 0%;
}

.contenedor1, .contenedor1-2, .contenedor1-3{
    border: 0.3px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 5% 5% 0% 5%;
}

.contenedor2, .contenedor2-2, .contenedor2-3{
    display:flex;
    padding: 0% 0% 5% 0%;
}

.contenedor2 img, .contenedor2-2 img, .contenedor2-3 img{
    height: 10%;
    width: 10%;
}

.carousel-inner{
    width: 80%;
    height: 100%;
}

.carousel{
    display: flex;
    justify-content: center;
    height: 124.57063711911357vh;
    margin-bottom: 15%;
    margin-top: -17%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 35%;
    column-gap: 10%;
    row-gap: 20%;
}

.otro{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15.2147px;
    line-height: 19px;
}

.descripcion{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #494949;
}

.carousel-control-next, .carousel-control-prev {
    margin-left: -4vw;
    margin-right: -4vw;
    margin-top: -7vw;
}

.contenedor2 img, .contenedor2-2 img, .contenedor2-3 img{
    border-radius: 50%;
}

@media only screen and (max-width: 1001px){
    .carousel{
        margin-top: -45%;
    }
    .carousel-inner {
        height: 145%;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 3%;
        height: 10%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 33%;
    } 
}


@media only screen and (max-width: 701px) {
    .carousel{
        margin-top: -60%;
         margin-bottom: -15%;
    }

    .carousel-item-next, .carousel-item-prev, .carousel-item.active{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 51%;
    }

    .carousel-control-prev-icon {
        height: 60%;
    }
    
    .carousel-control-next-icon {
        transform: rotate(180deg);
        height: 60%;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 3%;
        height: 10%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 33%;
    } 
    .contenedor1, .contenedor1-2, .contenedor1-3 {
        height: 95%; 
    }
    .contenedor1-2, .contenedor1-3, .contenedor2-2, .contenedor2-3 {
        display:none !important;
    }
    
  }



  /* -------------FIN SECCION 2---------------  */


  /* -------------INICIO SECCION 3--------------- */



  .fondofooter{
	width: 100%;
	height: 100%;
	background-color: #51626F;
	margin: 0%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.separador{
	margin-left: 7%;
	width: 85%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.fundacion{
	color: white;
}
.enlacesre{
    color: white;
}
.enlaces{
display: flex;
flex-direction: column;
}
.fregistro{
	color: white;
	width: 61%;
}
.pcontacto{
	color: white;
	width: 53%;
}
.cevento{
	color: white;
	width: 35%;
}
.vperfil{
	color: white;
	width: 24%;
}
.csesion{
	color: white;
	width: 36%;
}
.acercade{
    color: white;
	width: 58%;
}
.siguenos{
	width:30%;
}
.fotosrrss{
	display: flex;
	flex-direction: column;
	vertical-align: middle;
}
.facebook{
	color: white;
	margin-left: 15px;
	text-align: center;
}
.twitter{
	color: white;
	margin-left: 5px;
}
.instagram{
	color: white;
	margin-left: 11px;
}
.linkedin{
	color: white;
	margin-left: 10px;
	display: flex;
}
.grupo1{
	margin-bottom: 25px;
	width: 7%;
	display: flex;
}
.grupo2{
	margin-bottom: 25px;
	margin-top: 25px;
	width: 6%;
	display: flex;
}
.grupo3{
	margin-bottom: 25px;
	margin-top: 25px;
	width: 8%;
	display: flex;
}
.grupo4{
	margin-top: 25px;
	width: 7%;
	display: flex;
}

.detalles{
	text-align: right;
}
.f5simplon{
	text-align: right;
}
.simplon{
	margin-top: 1%;
	margin-right: 8%;
}
.legal{
grid-column: 4;
width: 109%;
margin-left: -10%;
color: white;
}
.copy{
	color: white;
    width: 78%;
	grid-column: 3;
}
.grid{
	display: grid;
	grid-template-columns: repeat(4, 3fr);
	grid-gap: 17px;
}
.mapaweb{
	text-align: left;
	flex-direction: column;
	margin-left: 28%;
}
.mapaweb2{
	margin-left: 20%;
}
.rrss{
	color:white;
	margin-left: 20%;
}
.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
	color: white;
	text-align: center;
}
p {
	margin-bottom: 0;
}
.spam{
	color: #A8B0B7
}
.proyecto{

	margin-bottom: 10%;
}

@media only screen and (max-width: 900px) {

* {

	font-size: small;


}

img {


	width: 70%;

}


.fondofooter{
	width: 100%;
	

}
.separador{
	margin-left: 7%;
	width: 85%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.fundacion{
	color: white;
}
.enlacesre{
    color: white;
}
.enlaces{
display: flex;
flex-direction: column;
}
.fregistro{
	color: white;
	width: 61%;
}
.pcontacto{
	color: white;
	width: 53%;
}
.cevento{
	color: white;
	width: 35%;
}
.vperfil{
	color: white;
	width: 24%;
}
.csesion{
	color: white;
	width: 36%;
}
.acercade{
    color: white;
	width: 58%;
}
.siguenos{
	width:30%;
}
.fotosrrss{
	display: flex;
	flex-direction: column;
	vertical-align: middle;
}
.facebook{
	color: white;
	margin-left: 15px;
	text-align: center;
}
.twitter{
	color: white;
	margin-left: 5px;
}
.instagram{
	color: white;
	margin-left: 11px;
}
.linkedin{
	color: white;
	margin-left: 10px;
	display: flex;
}
.grupo1{
	margin-bottom: 25px;
	width: 7%;
	display: flex;
}
.grupo2{
	margin-bottom: 25px;
	margin-top: 25px;
	width: 6%;
	display: flex;
}
.grupo3{
	margin-bottom: 25px;
	margin-top: 25px;
	width: 8%;
	display: flex;
}
.grupo4{
	margin-top: 25px;
	width: 7%;
	display: flex;
}

.detalles{
	text-align: right;
}
.f5simplon{
	text-align: right;
}
.simplon{
	margin-top: 1%;
	margin-right: 8%;
	max-width: 20%;
}
.legal{
grid-column: 4;
width: 109%;
margin-left: -10%;
}
.copy{
	color: white;
    width: 78%;
	grid-column: 3;
}
.grid{
	display: grid;
	grid-template-columns: repeat(4, 3fr);
	grid-gap: 17px;
}
.mapaweb{
	text-align: left;
	flex-direction: column;
	margin-left: 28%;
}
.mapaweb2{
	margin-left: 20%;
	width: 100%;
}
.rrss{
	color:white;
	width: 100%;
}
.centro{
	width: 292px;
	color: white;
	text-align: center;
}
p {
	margin-bottom: 0;
}
.spam{
	color: #A8B0B7
}
.proyecto{
	width: 100%;

}


.grupo2 {


	width: 100%;
	font-size: small;


}

.grupo1, .grupo3, .grupo4 {

	width: 125%;
	font-size: small;


}

.copy, .legal {

width: 100%;
max-width: 100%;
font-size: small;
color: white;

}

}

  /* -------------FIN SECCION 3---------------  */